// Typos with text definitions by parameters established
// ----------------------------------------------------------------------------
$title-props : (
    gigantic : (
      desktop : 48px,
      mobile : 32px,
      weight : 600
    ),
    headline : (
      desktop : 36px,
      mobile : 30px,
      weight : 600
    ),
    section : (
      desktop : 25px,
      mobile : 20px,
      weight : 600 
    ),
    tagline : (
      desktop : 24px,
      mobile : 18px,
      weight : 600 
    ),
    module : (
      desktop : 20px,
      mobile : 18px,
      weight : 600 
    ),
    subtle : (
      desktop : 17px,
      mobile : 15px,
      weight : 600 
    ),
    small : (
      desktop : 15px,
      mobile : 15px,
      weight : 600 
    ),
    price : (
      desktop : 15px,
      mobile: 15px,
      weight : 600
    )
  );
  $text-props : (
    big : (
      size : 17px,
      weight : 400
    ),
    standard : (
      size : 15px,
      weight : 400
    ),
    small : (
      size : 13px,
      weight : 400
    ),
    footer_title : (
      size : 15px,
      weight : 600,
      letter-spacing: 0.2px
    ),
    footer_link : (
      size : 13px,
      weight : 400,
      letter-spacing: 0.2px
    ),
    link : (
      size : 14px,
      mobile : 13px,
      weight : 400
    )
  );