<nav class="footer footer__siteinfonoprint" role="contentinfo">
  <div class="section section__copyright">
    <div class="container-fluid">
      <div class="copyright">
        <div class="row">
          <div class="footer__left">
            <div class="footer__links">
              <p class="footer__copyright">&copy; 2016-2019 Catalonia Hotels &amp; Resorts. Catalonia Rewards.
                <span>app.layout.footer.allrightsreserved</span>
              </p>
            </div>
          </div>
          <div class="footer__right">
            <a ui-sref="app.home({lang: i18n.lang})" rel="home" class="footer__brand" id="logo"
              title="Catalonia Rewards">
              <svg class="footer__logo" aria-hidden="true">
                <use class="footer-logo" xlink:href="#icon-logo-catalonia-white"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>
